
@media (max-width: 767px) {
    .just__list{
       margin-bottom: 2rem;
       display: flex;
       justify-content: center;
       width: 100%;
    }
    .wrapper__list{
        width: 60%;
    }

}
@media (max-width: 467px) {
    
    .wrapper__list{
        width: 90%;
    }

}
